<div  class="form main-form newton-forgot-password-form" data-ng-controller="ForgotPasswordCtrl as forgot">
    <div class="newton-forgot-password-elements-container newton-horizontal-centered newton-vertical-centered"> <!--  newton-vertical-centered newton-horizontal-centered -->
        <div class="newton-forgot-password-header">Forgot Password</div>
        <div class="alert alert-{{forgot.response.status}} animated fadeIn" ng-show="forgot.response.message">{{forgot.response.message}}</div>
        <p>Please enter your email address to reset your password.</p>
        <form id="login_form" ng-submit="forgot.forgotpassword()" class="forgot-password form-horizontal">
            <div class="input-wrapper">

                <input required id="email_block" type="email" name="email" placeholder="Email Address"
                       ng-model="forgot.user.email">
                <div class="error_message">Please enter a correct info #</div>
                <span class="pic email"></span>
            </div>

            <div class="button_send newton-button-restore">
                <button type="submit" class="submit_button">Send</button>
            </div>
        </form>
    </div>
</div>
