<div class="newton-vertical-centered" data-ng-controller="LoginCtrl as login">

    <div class="newton-login-header">Login</div>

    <div class="alert alert-danger animated fadeIn" ng-show="login.loginError">{{login.loginError}}</div>

    <form id="login_form" ng-submit="login.login()">
        <div class="input-wrapper">
            <input required id="email_block" type="email" name="email" placeholder="Email Address" ng-model="login.user.email">
            <div class="error_message">Please enter a correct info #</div>
            <span class="pic email"></span>
        </div>
        <div class="input-wrapper">
            <input required id="password_block" name="password" type="{{login.input.type}}" placeholder="{{login.input.placeholder}}" ng-model="login.user.password">
            <div class="error_message">Please enter a correct info #</div>
                <span class="pic password {{login.input.iconClass}}" ng-click = "login.togglePasswordVisible()">
                </span>
        </div>
        <div class="newton-forgot_password">
            <a ui-sref='forgot-password'>Forgot your password?</a>
        </div>
        <div class="button_login newton-button-login">
            <button type="submit" class="submit_button">Login</button>
        </div>
    </form>
</div>