<div class="newton-vertical-centered" data-ng-controller="RegisterCtrl as reg">
    <div ng-repeat="error in reg.registerError">
        <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
    </div>
    <div class="alert alert-danger animated fadeIn" ng-show="reg.usernameError">{{reg.usernameError}}</div>
    <div class="alert alert-danger animated fadeIn" ng-show="reg.emailError">{{reg.emailError}}</div>
    <form id="register_form" ng-submit="reg.register()">

        <div class="newton-login-header">Sign Up</div>


        <div class="input-wrapper">
            <input required id="name" type="text" name="name" placeholder="Full Name" ng-model="reg.user.name">
        </div>

        <div class="input-wrapper">
            <input required id="email_block" type="email" name="email" placeholder="Email Address" ng-model="reg.user.email">
        </div>

        <div class="input-wrapper">
            <input required id="username" type="text" name="username" placeholder="Username" ng-model="reg.user.username">
        </div>

        <div class="input-wrapper">
            <input required id="password_block" name="password" type="{{reg.input.type}}"  placeholder="{{reg.input.placeholder}}" ng-model="reg.user.password">

        <span class="pic password {{reg.input.iconClass}}" ng-click="reg.togglePasswordVisible()">
        </span>

        </div>

        <div class="input-wrapper">
            <input required id="confirm_password" name="confirm_password" type="{{reg.input.type}}"
                   placeholder="{{reg.input.placeholderConfirmPass}}" ng-model="reg.user.confirmPassword">
        <span class="pic password {{reg.input.iconClassConfirmPass}}" ng-click="reg.togglePasswordConfirmVisible()">
        </span>
        </div>

        <div class="button_register">
            <button type="submit" class="submit_button">Sign up</button>
            <p>Already have an account?</p>
            <a ui-sref='auth.login'>Log in</a>
        </div>

    </form>
</div>
