<div class="" data-ng-controller="CategoriesController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Categories</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th class="width-50">Name</th>
                    <th class="width-25">Icon</th>
                    <th class="width-25">Status</th>
                    <th class="width-25"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="alert alert-success" ng-if="added">
                        Category '{{added.name}}' added successfully
                    </div>
                    <div class="alert alert-success" ng-if="removed">
                        Category '{{removed}}' removed successfully
                    </div>
                </tr>
                <tr>
                    <td><input class="form-control input-name" ng-model="category.name"></td>
                    <td></td>
                    <td>unpublished</td>
                    <td></td>
                    <td>
                        <button class="btn btn-primary active categories-button edit-btn" ng-click="addCategory()">
                            Add
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="category in categories">
                    <td class="td-center"><a href="categories/{{category._id}}">{{category.name}}</a></td>
                    <td><img ng-src="{{category.icon}}" alt="   No icon" width="100px"></td>
                    <td class="published td-center" data-ng-if="category.status=='published'">
                        <input type="checkbox" checked ng-click="unpublish(category)"> {{category.status}}
                    </td>
                    <td class="unpublished td-center" data-ng-if="category.status=='unpublished' && hasPublishedProducts(category._id)">
                        <input type="checkbox" ng-click="publish(category)"> {{category.status}}
                    </td>
                    <td class="unpublished td-center" data-title="There is no published products"
                        data-ng-if="category.status=='unpublished' && !hasPublishedProducts(category._id)">
                        {{category.status}}
                    </td>
                    <td class="td-center">
                        <button class="btn btn-danger active categories-button edit-btn"
                                ng-click="remove(category._id, category.name)">
                            Remove
                        </button>
                    </td>
                    <td class="td-center">
                        <a class="btn btn-primary active categories-button edit-btn" href="categories/{{category._id}}/edit">
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>