<div class="" data-ng-controller="EditElementController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Edit element '{{name}}'</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th class="width-40">Name</th>
                    <th class="width-40">Z-index</th>
                    <th class="width-10"></th>
                    <th class="width-10"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="alert alert-success table-font" ng-if="saved">
                        Element '{{saved.name}}' changed successfully.
                        Would you like to return back to elements list?
                        <a class="btn btn-success active categories-button"
                           href="categories/{{category_id}}/{{element.product_id}}" ng-if="saved">
                            Yes
                        </a>
                    </div>
                </tr>
                <tr>
                    <td><input class="form-control input-name" ng-model="element.name"></td>
                    <td><input class="form-control input-name" ng-model="element.z_index"></td>
                    <td>
                        <button class="btn btn-primary active categories-button edit-btn" ng-click="saveElement()">
                            Save
                        </button>
                    </td>
                    <td>
                        <a class="btn btn-danger active categories-button edit-btn"
                           href="categories/{{category_id}}/{{element.product_id}}">
                            Cancel
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
