<div class="" data-ng-controller="EditCategoryController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Edit category '{{name}}'</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th class="width-30">Name</th>
                    <th class="width-15">Icon</th>
                    <th class="width-20"></th>
                    <th class="width-15">Status</th>
                    <th class="width-10"></th>
                    <th class="width-10"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="alert alert-success table-font" ng-if="saved">
                        Category '{{saved.name}}' changed successfully.
                        Would you like to return back to categories list?
                        <a class="btn btn-success active categories-button" href="categories" ng-if="saved">
                            Yes
                        </a>
                    </div>
                </tr>
                <tr>
                    <td><input class="form-control input-name" ng-model="category.name"></td>
                    <td><img ng-src="{{category.icon}}" alt="No icon" width="100px"></td>
                    <td>
                        <form>

                            <input id="upload-file" multiple="multiple" name="upload" type="file"
                                   accept=".png" required="" file-model="fileForm.fileData"/><br><br>
                        </form>
                    </td>
                    <td>unpublished</td>
                    <td>
                        <button class="btn btn-primary active categories-button edit-btn" ng-click="saveCategory()">
                            Save
                        </button>
                    </td>
                    <td>
                        <a class="btn btn-danger active categories-button edit-btn" href="categories">
                            Cancel
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
