<div class="" data-ng-controller="ElementVariationsController">
    <div ncy-breadcrumb></div>
    <div class="alert alert-danger animated fadeIn ng-binding" ng-show="errorMsg">{{errorMsg}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-title-font">Element variations of '{{element_name}}'</h3>
        </div>
        <div class="panel-body">
            <table class="table table-font">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Icon</th>
                    <th>Price</th>
                    <th class="width-15">Status</th>
                    <th class="width-20">Shown by default</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="alert alert-success" ng-if="added">
                        Element variation '{{added.name}}' added successfully
                    </div>
                    <div class="alert alert-success" ng-if="removed">
                        Element variation '{{removed}}' removed successfully
                    </div>
                </tr>
                <tr>
                    <td><input class="form-control input-name" ng-model="elementVariation.name"></td>
                    <td></td>
                    <td><input class="form-control input-name" ng-model="elementVariation.price"></td>
                    <td>unpublished</td>
                    <td>hidden</td>
                    <td></td>
                    <td>
                        <button class="btn btn-primary active categories-button edit-btn" ng-click="addElementVariation()">
                            Add
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="elementVariation in elementVariations">
                    <td class="td-center">
                        <a href="{{url}}{{elementVariation._id}}/edit">
                            {{elementVariation.name}}
                        </a>
                    </td>
                    <td><img ng-src="{{elementVariation.icon}}" alt="No icon" width="100px"></td>
                    <td class="td-center">$ {{elementVariation.price}}</td>
                    <td class="published td-center" data-ng-if="elementVariation.status=='published'">
                        <input type="checkbox" checked ng-click="unpublish(elementVariation)"> {{elementVariation.status}}
                    </td>
                    <td class="unpublished td-center" data-ng-if="elementVariation.status=='unpublished'">
                        <input type="checkbox" ng-click="publish(elementVariation)"> {{elementVariation.status}}
                    </td>
                    <td class="published td-center" data-ng-if="elementVariation.shown_by_default=='shown'">
                        <input type="radio" checked ng-click="hidden(elementVariation)"> {{elementVariation.shown_by_default}}</td>
                    <td class="unpublished td-center" data-ng-if="elementVariation.shown_by_default=='hidden'">
                        <input type="radio" ng-click="shown(elementVariation)"> {{elementVariation.shown_by_default}}</td>
                    <td class="td-center">
                        <button class="btn btn-danger active categories-button edit-btn"
                                ng-click="removeElementVariation(elementVariation._id, elementVariation.name)">
                            Remove
                        </button>
                    </td>
                    <td class="td-center">
                        <a class="btn btn-primary active categories-button edit-btn"
                           href="{{url}}{{elementVariation._id}}/edit">
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>